# SQL

This Python notebook will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer questions

## Understand the datasets

Three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer\&utm_source=Exinfluencer\&utm_content=000026UJ\&utm_term=10006555\&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01\&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838\&cm_mmca1=000026UJ\&cm_mmca2=10006555\&cm_mmca3=M12345678\&cvosrc=email.Newsletter.M12345678\&cvo_campaign=000026UJ)

### Subsets of the datasets

Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

Manually load the table using the database console LOAD tool in DB2 database in watson studio
1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
#!pip install sqlalchemy==1.3.9
#!pip install ibm_db_sa

In [2]:
%load_ext sql

##### Connection string is removed from notebook to protect the credentials


### Find the total number of crimes recorded in the CRIME table.

In [4]:
%sql select count(*) from CHICAGO_CRIME_DATA;

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[(Decimal('533'),)]

In [5]:
%sql select * from CHICAGO_CRIME_DATA LIMIT 2;

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[(3512276, 'HK587712', datetime.date(2004, 8, 28), '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', datetime.date(2004, 6, 26), '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)')]

In [6]:
%sql select * from CHICAGO_PUBLIC_SCHOOLS LIMIT 2;

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', Decimal('2.0'), '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54, 'Strong', '66', 'Strong', 74, 'Very Strong', 84, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', Decimal('15.7'), '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', Decimal('16.8'), Decimal('16.5'), Decimal('0.7'), Decimal('1.4'), 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', Decimal('1196129.985'), Decimal('1856209.466'), Decimal('41.76032435'), Decimal('-87.55673627'), 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)')]


###  List community areas with per capita income less than 11000.

In [7]:
%sql SELECT community_area_namE,per_capita_income FROM CENSUS_DATA WHERE per_capita_income < 11000

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]



### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [46]:
%sql select case_number from chicago_crime_data where \
(primary_type LIKE '%CHILDREN' OR  primary_type LIKE ('CHILDREN%') OR  primary_type LIKE ('%CHILDREN%'))

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[('HN567387',), ('HR391350',), ('HM768251',), ('HT394616',)]

In [8]:
%sql select case_number from chicago_crime_data where description LIKE '%MINOR%';

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[('HL266884',), ('HK238408',)]

### List all kidnapping crimes involving a child?

In [47]:
%sql select * from chicago_crime_data where \
(primary_type LIKE '%KIDNAP' OR  primary_type LIKE ('KIDNAP%') OR  primary_type LIKE ('%KIDNAP%'))\
and (DESCRIPTION LIKE '%CHILD' OR  DESCRIPTION LIKE ('CHILD%') OR  DESCRIPTION LIKE ('%CHILD%'))

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

### What kinds of crimes were recorded at schools?

In [99]:
%sql select DISTINCT(primary_type) from chicago_crime_data where \
 (location_description LIKE '%SCHOOL' OR  location_description LIKE ('SCHOOL%') OR  location_description LIKE ('%SCHOOL%'))

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

In [52]:
%sql select case_number,iucr,primary_type,description,location_description from chicago_crime_data where \
 (location_description LIKE '%SCHOOL' OR  location_description LIKE ('SCHOOL%') OR  location_description LIKE ('%SCHOOL%'))

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[('HL353697', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HL725506', '484', 'BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('HP716225', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('HH639427', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('JA460432', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HS200939', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HK577020', '2024', 'NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HS305355', '1821', 'NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('HT315369', '545', 'ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HR585012', '1330', 'CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('HH292682', '2850', 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('G635735', '2850', 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')]

### List the average safety score for all types of schools.

In [58]:
%sql select school_type,avg(safety_score) as "Average_safety_score" from chicago_public_schools group by school_type

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[('ES', Decimal('49.520383')),
 ('HS', Decimal('49.623529')),
 ('MS', Decimal('48.000000'))]

### List 5 community areas with highest % of households below poverty line

In [60]:
%sql select community_area_name,percent_households_below_poverty \
from CENSUS_DATA order by percent_households_below_poverty desc limit 5

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

In [64]:
%sql select * from chicago_crime_data LIMIT 2;

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[(3512276, 'HK587712', datetime.date(2004, 8, 28), '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', datetime.date(2004, 6, 26), '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)')]

### Which community area is most crime prone?

In [79]:
%sql select community_area_number , count(community_area_number) as count from chicago_crime_data\
     group by community_area_number order by count desc limit 1

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[(25, Decimal('43'))]

In [81]:
%sql select community_area_name  as most_crime_prone_area from census_data where community_area_number =25

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[('Austin',)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Use a sub-query to find the name of the community area with highest hardship index

In [83]:
%sql select community_area_name from census_data where hardship_index in ( select max(hardship_index) from \
                                                                          census_data)

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[('Riverdale',)]

### Use a sub-query to determine the Community Area Name with most number of crimes?

In [89]:
%sql select community_area_number , count(community_area_number) as crime_count from chicago_crime_data\
     group by community_area_number order by crime_count desc limit 1

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[(25, Decimal('43'))]

In [10]:
%sql select community_area_name  as most_crime_prone_area from census_data where community_area_number in\
(select community_area_number from  chicago_crime_data\
     group by community_area_number order by count(*) desc limit 1);

 * ibm_db_sa://vgl13250:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50001/BLUDB
Done.

[('Austin',)]